<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>admin@localhost.com</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/404.swf</location>
    </error-page>
    <servlet>
        <servlet-name>Ajax</servlet-name>
        <servlet-class>com.Ajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ajax</servlet-name>
        <url-pattern>/Ajax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doNews</servlet-name>
        <servlet-class>com.doNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doNews</servlet-name>
        <url-pattern>/doNews</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>nicebuild.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

</web-app>